body, html { 	
	background-image: url('../Other/recbg.jpg');
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

body { 	position: static; }

footer {
	background-color: #555;
	padding-bottom: 5px;
	width: 100%; 
		
	right: 0;
	bottom: 0;
	left: 0;
}

footer span {
	text-align: center;
	letter-spacing: 3px;
	font-size: 1.75em;
	text-decoration: underline;
	color: silver;
}

.social {
  vertical-align: middle !important;
}

#___plusone_0, #___plus_0, .fb-like, #tweetBtn, .g-plus, .g-plusone {
   float: left;
   display: inline-block;
   padding: 0px;
}

.dropdown-item:hover { background-color: lightgrey; }
.dropdown-menu { width: auto; }
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }


 /*RECEPT BODY*/
 /*------------------------------------------------------------------------------------------------*/
 .text, .rec-title, .big-title {
	text-shadow: -2px -1px 0 black;
	letter-spacing: 3px;
	color: silver; 
}

.rec-title, .big-title, th, .th, .href:hover {
	text-decoration: underline;
}

.rec-title, th, .th { font-family: Georgia, serif; font-style: italic; }

.rec-title {
	text-align: center;
	font-size: 2em;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 5px;
	top: 0px;
	background-color: #555;
	width: 100%;
}

.big-title {
	text-align: center;
	margin-top: 5px;
	padding-top: 0;
	padding-bottom: 5px;
}

th, .th, td, dl, dt, dd, ul, li { text-align: right; }
th, .th { font-size: 1.45em; color: #AA1F23; }
td, #rec_num { font-size: 1.15em; }

.href, .href:hover, .href:active { color: black; }
#link { margin-top: -7px; 
	
}

.div1 {
	margin-top: 0px;
	margin-right: 15px;
}

.jumb { 
	margin-top: 0; 
	padding-top: 0;
	top: 0; 
	background-color: transparent;
	font-size: 1.25em;
 }

.well1 { 
	margin-top: 0; 
	padding-top: 0;
	top: 0; 
	background-color: transparent;
	font-size: 1.25em;
 }

.page-header, .clearfix { 
	width: 100%; 
	padding-top: auto;
	
	padding-bottom: 0;
	margin-bottom: 0;
}

.ui-content {
	width: 100%;
}

#bodyDiv 
{ 
	width: 100%;
	height: 100%;
}

#menu_rec { 
	width: 350px; 
	/*margin-right: 55px;*/
}

#menu_recm, #menu_rec .list-group-item {
	border-style: solid;
    border-color: silver;
}

/* -------------------------------------------------------------CSS Frame work------------------------------------------------------------ */
.navbar-center {
  float: none !important;
  margin: auto !important;
}


